@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:root {
  --red-color: #A51544;
  --yellow-color: #F49A2E;
  --green-color: #1C818D;
  --grey-color: rgba(0, 0, 0, 0.76);
  --blue-color: #161630;
  --background: #f8f8f9;
  --header-border-bottom: lightgray; }

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background); }

main {
  margin-top: 95px; }

a {
  text-decoration: none; }

h1 {
  color: var(--red-color);
  font-size: 2.2em;
  font-weight: 800; }

h1 {
  font-size: 1.7em; }

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 25px; }

.glider-track {
  gap: 10px; }

.parent {
  display: flex;
  gap: 20px; }

.parent-column {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

.center {
  align-items: center;
  justify-content: center; }

.button {
  color: var(--grey-color);
  font-weight: 800;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  background: transparent;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
  width: 10em;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px; }

.button:hover {
  color: var(--red-color);
  background: #e3e1e690; }

.header-container {
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background: var(--background);
  border-bottom: 1px solid var(--header-border-bottom);
  flex: 1;
  justify-content: space-between;
  align-items: center; }
  .header-container .logo {
    margin-left: 40px; }

.volver {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 100px;
  background-color: #ffffff79; }

.close {
  display: none; }

.menu-hamburguesa {
  display: none; }

.navegacion {
  right: 35px; }

.navegacion ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex; }

.navegacion li a {
  display: block;
  padding: 5px 20px;
  color: #000000;
  text-align: center;
  font-weight: 300; }

.navegacion li:first-child {
  padding-left: 0; }

.navegacion li:last-child {
  padding-right: 0; }

ul.menu-nav li a:hover:not(.activo) {
  background-color: #ffffff; }

ul.menu-nav li a.activo {
  background-color: #494c4d;
  color: #ffffff; }

/* inicio */
.article-main p,
.article-main a img {
  height: auto;
  margin-left: 40px;
  margin-bottom: 20px; }

.article-main p {
  width: 40%; }

.article-main a img {
  width: 25%; }

.encabezado {
  background-image: url("../img/index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-top: 10vh;
  padding-top: 20px; }

.img-servicios {
  display: flex;
  flex-direction: row; }

.img-servicios img {
  width: 100%; }

.div-servicio {
  position: relative; }

.titulo-servicios p {
  align-self: center; }

.titulo-servicios {
  display: flex;
  position: absolute;
  align-self: center;
  background: #e3e1e690;
  width: 100%;
  bottom: 20px;
  text-align: center;
  justify-content: center;
  color: var(--grey-color); }

.servicios h2,
.bottom-info h2 {
  position: relative;
  color: var(--red-color);
  font-weight: 300;
  text-align: center;
  top: 10px; }

.articulo-proyectar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

#parrafo-consulta:hover {
  color: var(--red-color);
  background: #e3e1e690; }

.servicios p {
  color: white;
  font-weight: 700 !important;
  text-transform: uppercase; }

/*Slide*/
@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 7)); } }

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 155px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 155px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider::before {
    left: 0;
    top: 0; }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14); }
  .slider .slide {
    height: 100px;
    width: 250px; }

/* Portafolio */
.contenido {
  margin: 40px;
  overflow: hidden; }
  .contenido h2 {
    left: 30px;
    font-weight: 800; }
  .contenido p {
    width: 80%; }

/* css Galeria*/
.carrusel {
  margin: 0px 35px; }

.carrusel-contenedor {
  position: relative; }

.carrusel-anterior,
.carrusel-siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #000000;
  opacity: 60%; }

.carrusel-anterior {
  left: -30px;
  position: absolute; }

.carrusel-siguiente {
  right: -30px;
  position: absolute; }

.carrusel-lista {
  overflow: hidden; }

.carrusel-elemento {
  text-align: center; }

.carrusel-elemento img {
  object-fit: cover; }

.carrusel-elemento {
  text-align: center; }

.dots .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #000000;
  opacity: .2;
  border-radius: 0; }

.dots .glider-dot:hover {
  opacity: .5; }

.dots .glider-dot.active {
  opacity: 1; }

.carrusel-anterior:hover,
.carrusel-siguiente:hover {
  opacity: 100%; }

.servicios p {
  font-size: 1.2em; }

/* css quien soy */
.section-quien-soy {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly; }

.section-quien-soy article {
  width: 40%; }

.section-quien-soy p {
  font-weight: 300;
  text-align: justify; }

.section-quien-soy h1 {
  margin-top: 0px;
  margin-bottom: 10px; }

.section-quien-soy img {
  width: 60%; }

.boton-contactame {
  width: 100%;
  display: flex;
  justify-content: center; }
  .boton-contactame .parent-column {
    margin: 0px; }
  .boton-contactame h4 {
    margin-top: 5px;
    margin-bottom: 25px; }

/* css contacto */
.section-contacto {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.section-contacto h1 {
  margin-left: 100px; }

.section-contacto fieldset {
  border: none; }

.form-contacto {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-self: center;
  top: -10px; }

.div-input {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  padding: 20px; }

.div-input input {
  height: 40px;
  border: none;
  background: #e3e1e6;
  top: 20px;
  font-size: 1.1em;
  padding: 20px;
  font-family: 'Montserrat', sans-serif; }

.div-input label {
  margin-bottom: 10px;
  min-width: 100%;
  font-size: 1.1em; }

.div-input input:focus {
  outline: none;
  border-bottom: 1px solid #3db7a8; }

.div-input-text-area {
  width: 100% !important; }

#text-area {
  height: 180px;
  resize: none;
  outline: none;
  border: none;
  background: #e3e1e6;
  font-size: 1.1em;
  margin-right: 5px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif; }

footer {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 30px;
  padding-bottom: 20px; }

footer .fa-facebook-square {
  color: var(--red-color);
  margin-right: 16px; }

footer .fa-behance-square {
  color: var(--green-color);
  margin-right: 16px; }

footer .fa-instagram-square {
  color: var(--yellow-color); }

/*Luvyn*/
.section-luvyn article {
  width: 100%; }

.section-luvyn .parent {
  width: 100% !important;
  gap: 0px !important; }

.section-luvyn img {
  margin-top: -4px !important; }

#luvyn_4_mobile,
#luvyn_6_mobile {
  visibility: hidden;
  width: 0% !important; }

/*Veganes*/
.section-veganes .parent,
.section-veganes .parent-column {
  width: 100% !important;
  gap: 0px; }

.section-veganes img {
  margin-top: -4px !important; }

/*Taccuino*/
.section-taccuino .parent,
.section-taccuino .parent-column {
  width: 100% !important;
  gap: 0px; }

.section-taccuino img {
  margin-top: -4px !important; }

#taccuino_9 {
  margin-top: 20px !important; }

#taccuino_7 {
  visibility: visible; }

/*whaleshouse*/
.section-whaleshouse .parent,
.section-whaleshouse .parent-column {
  width: 100% !important;
  gap: 0px; }

.section-whaleshouse img {
  margin-top: -4px !important; }

#whaleshouse_11,
#whaleshouse_7 {
  margin-top: -20px !important; }

/*Lucco*/
.section-lucco article {
  width: 100%; }

.section-lucco .parent {
  width: 100% !important;
  gap: 0px !important; }

.section-lucco img {
  margin-top: -4px !important; }

/* Media */
@media screen and (max-width: 800px) {
  .header-container {
    height: 60px; }
  .article-main {
    margin-left: 0px; }
    .article-main p {
      width: 80%; }
    .article-main a img {
      margin-top: 20px;
      width: 50%; }
  .menu-hamburguesa {
    display: flex;
    align-items: center; }
  .menu-hamburguesa span {
    font-size: 1.25em;
    position: absolute;
    right: 20px;
    top: 18px;
    align-self: center;
    text-transform: uppercase;
    font-weight: 300; }
  .img-menu {
    position: absolute;
    right: 70PX;
    top: 12px;
    align-self: center;
    width: 40px;
    height: 40px; }
  .navegacion {
    position: fixed;
    top: -400px;
    background: #e3e1e6;
    width: 100%;
    z-index: 100;
    right: 0; }
  .navegacion ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block; }
  .navegacion li {
    position: relative;
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .navegacion li:last-child {
    border-bottom: none; }
  .navegacion li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
  .navegacion li a {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 300;
    color: var(--grey-color); }
  .navegacion li:hover {
    background: none; }
  ul.menu-nav li a:hover:not(.activo) {
    background-color: transparent; }
  ul.menu-nav li a.activo {
    background-color: transparent;
    color: #000000; }
  body {
    font-size: 1em; }
  .encabezado {
    margin-top: 5vh; }
  .img-servicios {
    display: flex;
    flex-direction: column; }
  .titulo-servicios {
    font-size: 1.7em; }
  .servicios p {
    font-size: 0.8em; }
  /* ccs portafolio */
  .contenido p {
    width: 100%; }
  /* css quien soy */
  .section-quien-soy article {
    width: 90%; }
  .section-quien-soy h1 {
    margin-top: 40px; }
  .section-quien-soy img {
    width: 90%; }
  .boton-contactame .parent-column {
    margin-top: 40px; }
  /* css contacto */
  .section-contacto h1 {
    margin-left: 40px; }
  .div-input {
    width: 100%; }
  /*luvyn*/
  .section-luvyn .parent {
    flex-direction: column; }
  #luvyn_1,
  #luvyn_3,
  #luvyn_4_mobile,
  #luvyn_2,
  #luvyn_5,
  #luvyn_6_mobile,
  #luvyn_7 {
    width: 100% !important;
    visibility: visible; }
  #luvyn_4,
  #luvyn_6,
  #luvyn_8 {
    visibility: hidden;
    width: 0% !important; }
  #luvyn_1 {
    margin-top: -30px !important; }
  /*taccuino*/
  #taccuino_6 {
    width: 100% !important; }
  #taccuino_1 {
    margin-top: -30px !important; }
  #taccuino_7 {
    visibility: hidden;
    width: 0% !important; }
  /*whaleshouse*/
  #whaleshouse_1 {
    margin-top: -30px !important; }
  /*veganes*/
  #veganes_1 {
    margin-top: -30px !important; } }
