@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$red-color: #A51544;
$yellow-color: #F49A2E;
$green-color: #1C818D;
$grey-color: rgba(0, 0, 0, 0.76);
$blue-color: #161630;
$background: #f8f8f9;
$header-border-bottom: lightgray;
$light: #E3D2C0;

:root {
    --red-color: #{$red-color};
    --yellow-color: #{$yellow-color};
    --green-color: #{$green-color};
    --grey-color: #{$grey-color};
    --blue-color: #{$blue-color};
    --background: #{$background};
    --header-border-bottom: #{$header-border-bottom};
    --light: #{$light};
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}

main {
    margin-top: 95px;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--red-color);
    font-size: 2.2em;
    font-weight: 800;
}

h1 {
    font-size: 1.7em;
}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 25px;
}

.glider-track {
    gap: 10px;

    p {
        color: var(--green-color) !important;
        text-align: center !important;
        font-weight: 500;
        font-size: 1.2em;
    }
}

.parent {
    display: flex;
    gap: 20px;
}

.parent-column {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.center {
    align-items: center;
    justify-content: center;
}

.button {
    color: var(--grey-color);
    font-weight: 800;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border: .5px solid rgba(0, 0, 0, 0.3);
    padding: 8px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button:hover {
    color: var(--red-color);
    background: #e3e1e690;
}

.header-container {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background: var(--background);
    border-bottom: 1px solid var(--header-border-bottom);
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin-left: 40px;
    }
}

.volver {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    background-color: #ffffff79;
}

.volver-portfolio {
    width: 100px;
}

.space-between {
    justify-content: space-between;
}

.close {
    display: none;
}

.menu-hamburguesa {
    display: none;
}

.navegacion {
    right: 35px;
}

.navegacion ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navegacion li a {
    display: block;
    padding: 5px 20px;
    color: #000000;
    text-align: center;
    font-weight: 300;
}

.navegacion li:first-child {
    padding-left: 0;
}

s .navegacion li:last-child {
    padding-right: 0;
}

ul.menu-nav li a:hover:not(.activo) {
    background-color: #ffffff;
}

ul.menu-nav li a.activo {
    background-color: #494c4d;
    color: #ffffff;
}

.flags {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.flags__item {
    width: 30px;
}

.flags__item:hover {
    width: 40px;
}

.flags__item.active {
    width: 40px;
}

.flags__img {
    cursor: pointer;
    display: block;
}


/* inicio */

.article-main {

    p,
    a img {
        height: auto;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    p {
        width: 40%;
        color: var(--light);
        font-weight: 400;
    }

    a img {
        width: 25%;
    }
}

.encabezado {
    background-image: url('../img/index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 10vh;
    padding-top: 20px;
}

.img-servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.img-servicios img {
    width: 100%;
}

.div-servicio, .carrusel-elemento {
    position: relative;
}

.on_hover {
    display: none;
    background-color: white;
    color: var(--green-color);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    font-size: 1em;

    p {
        line-height: 400px;
    }
}

.div-servicio:hover .on_hover {
    display: block;
}


.on_hover2 {
    display: none;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    font-size: 1em;

    p {
        line-height: 400px;
        color: var(--red-color) !important;
        text-transform: uppercase;
        font-weight: 700 !important;
    }
}

.carrusel-elemento:hover .on_hover2 {
    display: block;
}

.carrusel-elemento:hover .on_hover2 {
    display: block;
}

.titulo-servicios p {
    align-self: center;
}

.titulo-servicios {
    display: flex;
    position: absolute;
    align-self: center;
    background: #e3e1e690;
    width: 100%;
    bottom: 20px;
    text-align: center;
    justify-content: center;
    color: var(--grey-color);
}

.servicios h2,
.bottom-info h2 {
    position: relative;
    color: var(--red-color);
    font-weight: 300;
    text-align: center;
    top: 10px;
}

.articulo-proyectar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#parrafo-consulta:hover {
    color: var(--red-color);
    background: #e3e1e690;
}

.servicios p {
    color: var(--red-blue);
    font-weight: 700 !important;
    text-transform: uppercase;
}


/*Slide*/
@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}


// Styling
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 155px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 155px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 100px;
        width: 250px;
    }
}


/* Portafolio */

.contenido {
    margin: 40px;
    overflow: hidden;

    h2 {
        left: 30px;
        font-weight: 800;
    }

    p {
        width: 80%;
    }
}

/* css Galeria*/

.carrusel {
    margin: 0px 35px;
}

.carrusel-contenedor {
    position: relative;
}

.carrusel-anterior,
.carrusel-siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #000000;
    opacity: 60%;
}

.carrusel-anterior {
    left: -30px;
    position: absolute;
}

.carrusel-siguiente {
    right: -30px;
    position: absolute;
}

.carrusel-lista {
    overflow: hidden;
}

.carrusel-elemento {
    text-align: center;
}

.carrusel-elemento img {
    object-fit: cover;
}

.carrusel-elemento {
    text-align: center;
}

.dots .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #000000;
    opacity: .2;
    border-radius: 0;
}

.dots .glider-dot:hover {
    opacity: .5;
}

.dots .glider-dot.active {
    opacity: 1;
}

.carrusel-anterior:hover,
.carrusel-siguiente:hover {
    opacity: 100%;
}

.servicios p {
    font-size: 1.2em;
}

/* css quien soy */

.section-quien-soy {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.section-quien-soy article {
    width: 40%;
}

.section-quien-soy p {
    font-weight: 300;
    text-align: justify;
}

.section-quien-soy h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.section-quien-soy img {
    width: 60%;
}

.boton-contactame {
    width: 100%;
    display: flex;
    justify-content: center;

    .parent-column {
        margin: 0px;
    }

    h4 {
        margin-top: 5px;
        margin-bottom: 25px;
    }
}

/* css contacto */

.section-contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-contacto h1 {
    margin-left: 100px;
}

.section-contacto fieldset {
    border: none;
    input {
        text-transform: capitalize;
    }
}

.form-contacto {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-self: center;
    top: -10px;
}

.div-input {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    padding: 20px;
}

.div-input input {
    height: 40px;
    border: none;
    background: #e3e1e6;
    top: 20px;
    font-size: 1.1em;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.div-input label {
    margin-bottom: 10px;
    min-width: 100%;
    font-size: 1.1em;
}

.div-input input:focus {
    outline: none;
    border-bottom: 1px solid #3db7a8;
}

.div-input-text-area {
    width: 100% !important;
}

#text-area {
    height: 180px;
    resize: none;
    outline: none;
    border: none;
    background: #e3e1e6;
    font-size: 1.1em;
    margin-right: 5px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.section-thankyou {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

footer {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 30px;
    padding-bottom: 20px;
    gap: 20px;
}

footer .fa-facebook-square {
    color: var(--red-color);
}

footer .fa-behance-square {
    color: var(--green-color);
}

footer .fa-instagram-square {
    color: var(--yellow-color);
}

footer .fa-linkedin {
    color: var(--blue-color);
}

/*Luvyn*/

.section-luvyn article {
    width: 100%;
}

.section-luvyn .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-luvyn img {
    margin-top: -4px !important;
}

#luvyn_4_mobile,
#luvyn_6_mobile {
    visibility: hidden;
    width: 0% !important;
}

/*Veganes*/
.section-veganes .parent,
.section-veganes .parent-column {
    width: 100% !important;
    gap: 0px;
}

.section-veganes img {
    margin-top: -4px !important;
}

/*Taccuino*/
.section-taccuino .parent,
.section-taccuino .parent-column {
    width: 100% !important;
    gap: 0px;
}

.section-taccuino img {
    margin-top: -4px !important;
}

#taccuino_9 {
    margin-top: 20px !important;
}

#taccuino_7 {
    visibility: visible;
}

/*whaleshouse*/
.section-whaleshouse .parent,
.section-whaleshouse .parent-column {
    width: 100% !important;
    gap: 0px;
}

.section-whaleshouse img {
    margin-top: -4px !important;
}

#whaleshouse_11,
#whaleshouse_7 {
    margin-top: -20px !important;
}

/*Lucco*/
.section-lucco article {
    width: 100%;
}

.section-lucco .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-lucco img {
    margin-top: -4px !important;
}

/*Fc-docuras*/
.section-fc-docuras article {
    width: 100%;
}

.section-fc-docuras .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-fc-docuras img {
    margin-top: -4px !important;
}

/*Geledes*/
.section-geledes article {
    width: 100%;
}

.section-geledes .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-geledes img {
    margin-top: -4px !important;
}

#geledes_4_mobile,
#geledes_6_mobile,
#geledes_9,
#geledes_18_mobile {
    visibility: hidden;
    width: 0% !important;
}

/*mana*/

.section-mana article {
    width: 100%;
}

.section-mana .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-mana img {
    margin-top: -4px !important;
}

#mana_1 {
    visibility: visible;
    width: 100% !important;
}

#mana_1_mobile {
    visibility: hidden;
    width: 0% !important;
}

/*oks*/

.section-oks article {
    width: 100%;
}

.section-oks .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-oks img {
    margin-top: -4px !important;
}

/*ciclo*/

.section-ciclo article {
    width: 100%;
}

.section-ciclo .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-ciclo img {
    margin-top: -4px !important;
}

#ciclo_5_mobile {
    visibility: hidden;
    width: 0% !important;
}


/*sebastian marinero*/

.section-sebastian-marinero article {
    width: 100%;
}

.section-sebastian-marinero .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-sebastian-marinero img {
    margin-top: -4px !important;
}

#sebastian_marinero_1 {
    background-image: url("../img/porfolio/branding/sebastian-marinero/1.jpg");
    background-repeat: repeat;
    height: 450px;
}


/*EDITORIAL*/

.section-editorial article {
    width: 100%;
}

.section-editorial .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-editorial img {
    margin-top: -4px !important;
}

/*Geledes*/

#edit_geledes_2_mobile,
#edit_geledes_3_mobile {
    visibility: hidden;
    width: 0% !important;
}


/*UX UI Y WEB*/

.section-uxuiweb article {
    width: 100%;
}

.section-uxuiweb .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-uxuiweb img {
    margin-top: -4px !important;
}


/*REDES*/

.section-redes article {
    width: 100%;
}

.section-redes .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-redes img {
    margin-top: -4px !important;
}



/*ILUSTRACIONES*/

.section-ilustraciones article {
    width: 100%;
}

.section-ilustraciones .parent {
    width: 100% !important;
    gap: 0px !important;
}

.section-ilustraciones img {
    margin-top: -4px !important;
}





/* Media */

@media screen and (max-width: 800px) {

    
    .carrusel-elemento .on_hover2 {
        animation: fadeInOut 9s ease 1;
        display: none;
    }

    @keyframes fadeInOut {
        0%, 100% {
            display: block;
            opacity: 0;
        }
        16.6%, 50%, 83.3% {
            display: block;
            opacity: 0.8;
        }
        8.3%, 41.6%, 75% {
            display: block;
            opacity: 0;
        }
    }
    
   // .carrusel-elemento img {
        // padding: 20px;
        // box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.33);
        // margin-bottom: 35px;
    //}

    // .div-servicio {
    //     position: relative;
    //     padding: 20px;
    //     margin: 20px;
    //     box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.33);
    // }

    // .titulo-servicios {
    //     right: 0px;
    // }

    // .div-servicio:hover .on_hover {
    //     display: block !important;
    // }

    // .on_hover {
    //     display: block !important;
    // }

    .servicios h2,
    .bottom-info h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-container {
        height: 60px;
    }

    .article-main {
        margin-left: 0px;

        p {
            width: 80%;
        }

        a img {
            margin-top: 20px;
            width: 50%;
        }
    }

    .menu-hamburguesa {
        display: flex;
        align-items: center;
    }

    .menu-hamburguesa span {
        font-size: 1.25em;
        position: absolute;
        right: 20px;
        top: 18px;
        align-self: center;
        text-transform: uppercase;
        font-weight: 300;
    }

    .img-menu {
        right: 70px;
        top: 12px;
        align-self: center;
        width: 40px;
        height: 40px;
    }

    .navegacion {
        position: fixed;
        top: -400px;
        background: #e3e1e6;
        width: 100%;
        z-index: 100;
        right: 0;
    }

    .navegacion ul {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    .navegacion li {
        position: relative;
        text-align: center;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    .navegacion li:last-child {
        border-bottom: none;
    }

    .navegacion li:first-child {
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    .navegacion li a {
        text-transform: uppercase;

        font-size: 0.8em;
        font-weight: 300;
        color: var(--grey-color);
    }

    .navegacion li:hover {
        background: none;
    }

    ul.menu-nav li a:hover:not(.activo) {
        background-color: transparent;
    }

    ul.menu-nav li a.activo {
        background-color: transparent;
        color: #000000;
    }

    body {
        font-size: 1em;
    }

    .encabezado {
        margin-top: 5vh;
    }

    .img-servicios {
        display: flex;
        flex-direction: column;
    }

    .titulo-servicios {
        font-size: 1.7em;
    }

    .servicios p {
        font-size: 0.8em;
    }

    /* ccs portafolio */
    .contenido p {
        width: 100%;
    }

    /* css quien soy */

    .section-quien-soy article {
        width: 90%;
    }

    .section-quien-soy h1 {
        margin-top: 40px;
    }

    .section-quien-soy img {
        width: 90%;
    }

    .boton-contactame .parent-column {
        margin-top: 40px;
    }

    /* css contacto */

    .section-contacto h1 {
        margin-left: 40px;
    }

    .div-input {
        width: 100%;
    }

    /*Porfolios */
    .glider-track {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        a {
            width: 100% !important;
            .carrusel-elemento {
                width: 100% !important;
            }
        }
    }

    .glider-slide {
        width: 100%;
    }

    .glider-dot, .carrusel-anterior, .carrusel-siguiente{
        display: none;
        visibility: hidden;
    }


    /*luvyn*/

    .section-luvyn .parent {
        flex-direction: column;
    }

    #luvyn_1,
    #luvyn_3,
    #luvyn_4_mobile,
    #luvyn_2,
    #luvyn_5,
    #luvyn_6_mobile,
    #luvyn_7 {
        width: 100% !important;
        visibility: visible;
    }

    #luvyn_4,
    #luvyn_6,
    #luvyn_8 {
        visibility: hidden;
        width: 0% !important;
    }

    #luvyn_1 {
        margin-top: -30px !important;
    }

    /*taccuino*/
    #taccuino_6 {
        width: 100% !important;
    }

    #taccuino_1 {
        margin-top: -30px !important;
    }

    #taccuino_7 {
        visibility: hidden;
        width: 0% !important;
    }

    /*whaleshouse*/
    #whaleshouse_1 {
        margin-top: -30px !important;
    }

    /*veganes*/
    #veganes_1 {
        margin-top: -30px !important;
    }

    /*lucco*/
    #lucco_1,
    #lucco_2,
    #lucco_3,
    #lucco_4,
    #lucco_5,
    #lucco_6 {
        width: 100% !important;
    }

    .section-lucco .parent {
        flex-direction: column;
    }

    /*fc docuras*/
    #fc_docuras_1,
    #fc_docuras_2,
    #fc_docuras_4,
    #fc_docuras_5 {
        width: 100% !important;
    }

    .section-fc-docuras .parent {
        flex-direction: column;
    }

    /*geledes*/

    #geledes_1,
    #geledes_2,
    #geledes_3,
    #geledes_5,
    #geledes_6_mobile,
    #geledes_7,
    #geledes_8,
    #geledes_9,
    #geledes_10,
    #geledes_11,
    #geledes_13,
    #geledes_14,
    #geledes_15,
    #geledes_16,
    #geledes_17,
    #geledes_18_mobile,
    #geledes_19 {
        visibility: visible;
        width: 100% !important;
    }

    #geledes_4,
    #geledes_6,
    #geledes_12,
    #geledes_18 {
        visibility: hidden;
        width: 0% !important;
    }

    /*mana*/

    #mana_2,
    #mana_3,
    #mana_4,
    #mana_5 {
        width: 100% !important;
    }

    #mana_1_mobile {
        visibility: visible;
        width: 100% !important;
    }

    #mana_1 {
        visibility: hidden;
        width: 0% !important;
    }

    .section-mana .parent {
        flex-direction: column;
    }

    /*oks*/
    #oks_1,
    #oks_2,
    #oks_3,
    #oks_4,
    #oks_5,
    #oks_6 {
        width: 100% !important;
    }

    .section-oks .parent {
        flex-direction: column;
    }

    /*ciclo*/
    #ciclo_1,
    #ciclo_2,
    #ciclo_3,
    #ciclo_4,
    #ciclo_5_mobile,
    #ciclo_6,
    #ciclo_7,
    #ciclo_8,
    #ciclo_9,
    #ciclo_10,
    #ciclo_11,
    #ciclo_12,
    #ciclo_13,
    #ciclo_14,
    #ciclo_15,
    #ciclo_16,
    #ciclo_17,
    #ciclo_18,
    #ciclo_19,
    #ciclo_20,
    #ciclo_21,
    #ciclo_22,
    #ciclo_23,
    #ciclo_24 {
        width: 100% !important;
        visibility: visible !important;
    }

    .section-ciclo .parent {
        flex-direction: column;
    }

    #ciclo_5,
    #ciclo_15 {
        visibility: hidden;
        width: 0% !important;
    }

    /*Sebastian marinero*/

   
    #sebastian_marinero_2,
    #sebastian_marinero_3,
    #sebastian_marinero_4,
    #sebastian_marinero_5,
    #sebastian_marinero_6,
    #sebastian_marinero_7,
    #sebastian_marinero_8 {
        width: 100% !important;
    }

    #sebastian_marinero_1 {
        visibility: hidden;
        width: 0% !important;
        height: 0px !important;
    }
    
    .section-sebastian-marinero .parent {
        flex-direction: column;
    }
        

    /*EDITORIAL */

    .section-editorial .parent {
        flex-direction: column;
    }

    /*Tapas*/
    #tapas_1,
    #tapas_2,
    #tapas_3,
    #tapas_4 {
        width: 100% !important;
    }

    /*Folleteria*/
    #folletos_1,
    #folletos_2,
    #folletos_3,
    #folletos_4 {
        width: 100% !important;
    }

    /*Le Parc*/
    #le_parc_1,
    #le_parc_2,
    #le_parc_3,
    #le_parc_4,
    #le_parc_5,
    #le_parc_6,
    #le_parc_7,
    #le_parc_8,
    #le_parc_9,
    #le_parc_10,
    #le_parc_11,
    #le_parc_12,
    #le_parc_13,
    #le_parc_14,
    #le_parc_15,
    #le_parc_16,
    #le_parc_17,
    #le_parc_18,
    #le_parc_19,
    #le_parc_20 {
        width: 100% !important;
    }

    /*Geledes*/
    #edit_geledes_1,
    #edit_geledes_2_mobile,
    #edit_geledes_3_mobile {
        width: 100% !important;
        visibility: visible;
    }

    #edit_geledes_2,
    #edit_geledes_3 {
        visibility: hidden;
        width: 0% !important;
    }


    /*UX UI Y WEB */

    .section-uxuiweb .parent {
        flex-direction: column;
    }

    /*Veganes*/
    #web_veganes_1,
    #web_veganes_2,
    #web_veganes_3,
    #web_veganes_4,
    #web_veganes_5 {
        width: 100% !important;
    }

    /*Ciclo*/
    #web_ciclo_1,
    #web_ciclo_2,
    #web_ciclo_3,
    #web_ciclo_4 {
        width: 100% !important;
    }

    /*Pucara*/
    #web_pucara_1,
    #web_pucara_2,
    #web_pucara_3,
    #web_pucara_4 {
        width: 100% !important;
    }


    /*REDES */

    .section-redes .parent {
        flex-direction: column;
    }

    #redes_1,
    #redes_2,
    #redes_3,
    #redes_4,
    #redes_5,
    #redes_6,
    #redes_7,
    #redes_8 {
        width: 100% !important;
    }


    /*ILUSTRACIONES */

    .section-ilustraciones .parent {
        flex-direction: column;
    }

    /*Los b*/
    #los_b_1,
    #los_b_2,
    #los_b_3,
    #los_b_4,
    #los_b_5,
    #los_b_6,
    #los_b_7,
    #los_b_8 {
        width: 100% !important;
    }

    /* xnv */
    #xnv_1,
    #xnv_2,
    #xnv_3,
    #xnv_4,
    #xnv_5 {
        width: 100% !important;
    }

    /*Predicciones*/
    #predicciones_1,
    #predicciones_2,
    #predicciones_3,
    #predicciones_4,
    #predicciones_5,
    #predicciones_6{
        width: 100% !important;
    }

}